:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    --blue-yale: #0E4C92;
    --blue-steel: #4682B4;
    --white: #ffffff;
    --grey-light: #ececec;
    --grey-dark: #576F7E;
    --grey-80: #272727;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
}


/* UTILITY CLASSES */

.margin-top-medium {margin-top: 2.5rem !important;}

.margin-bottom-medium {margin-bottom: 2.5rem !important;}

.margin-bottom-big {margin-bottom: 4rem !important;}

.text-center {text-align: center !important;}

/* USER LOGIN PAGE */

.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center;
    font-size: 1.5rem;
}
.heading-secondary {
    font-size: 3rem;
    color: var(--grey-dark);
}

 .heading-tertiary {
    font-size: 2.5rem;
    color: var(--blue-steel);
    font-weight: 300;
}

 .login-form {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

}

.login-form > * {
    display: block;

}

.login-form > *:not(:last-child) {
    margin-bottom: 2rem;
}

.login-form__control {
    padding: 1.5rem 2rem;
    border-radius: 3px;
    outline: none;
    border: 2px solid var(--grey-light);
}

.login-form__control:focus {
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

[type="submit"] {
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color:var(--blue-steel);
    transition: all .2s;
}
[type="submit"]:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 5px rgba(0,0,0,.4);
}

a,
a:link
a:visited {
    text-decoration: none;
    
}
.form-wrapper p{
    line-height: 2.4rem;
    font-size: 1.3rem;
    font-weight: 300;
}



  /* USER SIGN UP PAGE */

  #policy {
      font-size: 1.2rem;
  }



  /* CREATE ACCOUNT PAGE */

  .create-account {
      width: 40%;
      background-color: #f7f7f7;
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
      padding: 1.5rem;
      font-size: 1.5rem;
      
      
      text-align: left;
  } 

  .create-account > * {
      display: block;
      padding: 1rem .5rem;
  }

  .account-request {
      padding: 1.2rem 2.5rem;
      margin-left: 5rem;
      border-radius: 3px;
  }
  

  /* dashboard-user PAGE */

.dashboard-header {
    height: 10vh;
    background-color: var(--blue-steel);
    color: var(--white);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

.dashboard-header a,
.dashboard-header a:link,
.dashboard-header a:visited {
    text-decoration: none;
}

a.brand-logo {
    width: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
    font-size: 2.5rem;
}

.brand-logo img {
    height: 40px;
}

.dashboard-header .heading-primary {
    width: 80%;
}

.dashboard-header .logout {
    display: inline-block;
    padding: 1rem 1.8rem;
    background-color: var(--white);
    color: var(--blue-steel);
    border-radius: 100px;
    transition: all .2s;
}

.logout:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 5px rgba(0,0,0,.4);
}

.main-wrapper {
    font-size: 1.5rem;
}

.main-wrapper .heading-tertiary {
    text-align: center;
}

.dashboard-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-profile {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #f7f7f7;
    border-radius: 3px;

}

.uneditable {
    width: 60%;
}



.user-profile input {
    padding: .5rem 1.5rem;
    border: 1px solid rgba(0,0,0,.3);
    outline: none;
}

.user-profile > * {

    margin-bottom: 1.5rem;
}

.user-profile > *:not(:first-child) {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.user-profile label {
    text-align: left;
}


.user-profile .user-photo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-photo img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

.edit-profile {
    justify-content: center !important;
}


.edit-btn {
    display: block;
    padding: 1rem 2rem;
    border-radius: 3px;
}

.transaction-history {
    margin-top: 10rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.account-balance {
    font-size: 3.5rem;
    font-weight: 700;
}

.transaction-history form {
    width: 90%;
    text-align: left;
}

.transaction-history table {
    width: 60%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: .5rem;
    text-align: center;
}

table th {
    background-color: #4682B4;
    color: var(--white);
}

tbody tr:nth-child(even){background-color: #abd9e7;}


/* ADMIN-DASHBOARD PAGE */
.all-accounts tbody tr:nth-child(even){background-color: var(--white);}

td .view-details,
td .delete {
    color: var(--white);
    display: inline-block;
    border-radius: 3px;
    padding: .5rem 1rem;
}

td .view-details {
    background-color: green;
    margin-right: 4rem;
}

td .delete {
    background-color: rgb(230, 45, 45);
}


/* Specific User*/

.one-user-view {
    display: flex;
    justify-content: center;
}

.customer-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

}

.customer-info > * {
    margin-bottom: 4rem;
}
.user-pic img {
    display: block;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
} 




 /* RESPONSIVENESS */

 @media only screen and (max-width: 1200px) {
    .dashboard-section {
        width: 80%;
    }

    .user-profile {
        width: 80%;
    }

    .dashboard-section {
        width: 80%;
    }
  }
  

  @media only screen and (max-width: 900px) {
    .create-account {
        width: 80%;
    }

    .dashboard-section {
        width: 100%;
    }

    .user-profile {
        width: 80%;
    }

    .user-profile > * {
        width: 80%;
    } 
  }


  @media only screen and (max-width: 600px) {
    .form-wrapper {
        width: 80%;
    }
    .user-profile {
        width: 100%;
    }
    
    
.user-profile > *:not(:first-child) {
    width: 50%;
    display: block;

}

  }


